.container {
    background: #fff;
    border-left: 1px solid #000;
    position: fixed;
    z-index: 10001;
    height: 100vh;
    right: -100%;
    max-width: 90vw;
    transition: right .25s ease;
    pointer-events: none;
    opacity: 0;
    &.active {
        pointer-events: unset;
        opacity: 1;
        right: 0;
    }
}

.backdrop {
    background: #000;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    position: fixed;
    z-index: 10000;
    transition: opacity .25s ease;
    &.active {
        pointer-events: unset;
        opacity: 0.5;
    }
}
