.root {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    h1, h2, h3, h4, h5, h6 {
        display: inline-block;
    }
}

.name {
    font-size: 3rem;
}
