html, body {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 1024px) {
    .d-lg-block {
        display: block;
    }
    .d-lg-none {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .d-md-none {
        display: none;
    }
    .d-md-block {
        display: block;
    }
}

